<!-- <form action="/tasks" method="post">
  <label for="name">Name : </label>
  <input type="text" name="task[name]" id="name">

  <label for="deadline">Deadline: </label>
  <input type="text" name="task[deadline]" id="deadline">

  <input type="submit">
</form> -->

<%= render 'form' %>
